@media (max-width: 1600px) and (min-width: 1051px) {
	.container {
		width:95%;
	}
}
@media (max-width: 1200px) and (min-width: 1000px) {
	.header-bottom .container {
    	width: 900px;
    }
}
@media (max-width: 1300px) and (min-width: 1050px) {
	.header-line-dec {
	    height: 3330px;
	    top: -550px;
	}
}
@media (min-width: 1500px) {
	.mem-img-wrapper {
    	height: 290px;
    }
    #team-wrapper {
	    padding-bottom: 50px;
	}
	.members-outer.owl-carousel .owl-nav .owl-next , .members-outer.owl-carousel .owl-nav .owl-prev {
    	margin-top: 10px;
    }
}
@media (min-width: 1600px) {
	.container {
		width:80%;
	}
    #customers-wrapper .container {
        width:80%;
    }
    #customers-wrapper .col-lg-2 {
        padding-left: 40px;
        padding-right: 40px;
    }
}
@media (min-width: 1800px) {
	.mem-img-wrapper {
    	height: 320px;
    }
    .members-outer.owl-carousel .owl-nav .owl-next , .members-outer.owl-carousel .owl-nav .owl-prev {
    	margin-top: 20px;
    }
    #customers-wrapper h1 {
    	margin-bottom: 30px;
	}
    #team-wrapper.teamwrapper .mem-img-wrapper {
        height: 270px;
    }
}
@media (min-width: 1700px) {
    .blog-inner {
        max-width: 1100px;
    }
    #blog-wrapper .container {
        max-width: 1100px;
    }
    .vacancies-container .container {
        width: 1200px !important;
    }
}
@media (min-width: 1351px) {
    #team-wrapper.teamwrapper .mem-img-wrapper {
        height: 220px;
    }
}
@media (max-width: 1400px) {
    .own-pd {
        width: 20%;
    }
}
@media (max-width: 1300px) {
	.header-line-dec {
    	top: -650px;
    }
}
@media (max-width: 1350px) {
    .header-line ul li {
        margin-left:15px;
        margin-right:15px;
    }
}
@media (max-width: 1200px) {
	.header-line-dec {
    	top: -625px;
    }
    .header-line ul {
        font-size: 21px;
    }
    .header-line ul li {
        margin-left:10px;
        margin-right:10px;
    }
    .header-bottom h1 {
        font-size: 65px;
    }
}
@media (min-width: 2000px) {
    .container,  #customers-wrapper .container {
        width:1700px;
    }
}
@media (max-width: 1300px) {

    .members-outer.owl-carousel .owl-nav .owl-next , .members-outer.owl-carousel .owl-nav .owl-prev {
        margin-top: -15px;
    }
    input {
        font-size: 22px;
    }

}

@media (max-width: 1200px) {
    .sol-wrapper p {
        font-size: 14px;
    }
    .sol-wrapper.sol-info p {
        font-size: 15px;
    }
    .own-pd {
        width: 25%;
    }
}

/* Main adaptation */

@media (max-width: 1150px) {

    .header-line .container {
        width: 95%;
    }
    .header-line ul li {
        margin-left: 12px;
        margin-right: 12px;
    }
    .header-line-dec {
        top: -600px;
        margin-right: 1490px;
        height: 3000px;
    }
    #about-wrapper .container {
        padding-right: 30px;
        padding-left: 30px;
    }
    .header-bottom .container {
        width: 900px;
    }
    .solutions-inner .sol-outer {
        padding-left:5px;
        padding-right:5px;
    }
    .members-outer .col-xs-3 {
        padding-left:5px;
        padding-right:5px;
    }
    input {
        font-size: 21px;
    }
    #contacts-wrapper a {
        font-size:22px;
    }
    footer .header-line-dec {
        margin-right: 1560px;
    }
    .solutions-inner .sol-outer {
        padding-left:5px;
        padding-right:5px;
    }
    .sol-wrapper p {
        font-size: 14px;
        padding-left: 5px;
        padding-right: 5px;
    }
    #team-wrapper .container {
        width: 100%;
    }
}
@media (max-width: 1100px) {
    #contacts-wrapper button, input[type='submit'].wpcf7-submit, .cf7-smart-grid.has-grid input[type='submit'].wpcf7-submit {
        font-size:20px;
    }
    .scheme-img {
        width: 100%;   
    }
    .cookies-wrapper a {
        margin-right: 15px;
    }
    .solutions-inner .container {
        width:100%;
    }
    .members-outer , .col-md-3 {
        padding-left:5px;
        padding-right:5px;
    }
}
@media (max-width: 1050px) {
    .header-line-dec {
        margin-right: 1465px;
    }
}
@media (max-width: 991px) and (min-width: 850px) {
    footer .header-line-dec {
        margin-right: 1675px;
    }
}
@media (max-width: 991px) {

    #customers-wrapper .container {
        padding-left: 15px;
        padding-right: 15px;
        width: 90%;
    }
    .col-member-display {
        display:none;
    }

    .sol-wrapper.sol-info p {
        font-size:16px;
    }

    #customers-wrapper .col-lg-2 {
        height: 130px;
    }
    .vacancies-block h2 {
        line-height:35px;
    }

    .vacancies-container .container {
        width:100% !important;
        padding-left:15px !important;
        padding-right:15px !important;
    }
    .words-wrapper span {
        padding: 7px;
    }

    .solutions-inner .sol-outer {
        padding-left: 15px;
        padding-right: 15px;
        margin-bottom: 30px;
    }

    .desktop-menu {
        display:none;
    }

    .mobile-menu-wrapper {
        display:block;
        float: right;
    }
    .header-line.fixed .hamburger .path {
        stroke: #D7D7D7;
    }
    .header-line.fixed .burger-main span , .header-line.fixed .path-rotation:before {
        background:#D7D7D7;
    }
    .mobile-links-wrapper.display-block {
        display: block;
        position: fixed;
        height: 100vh;
        background-color: #ECECEC;
        width: 100%;
        top: 0px;
        left: 0px;
        z-index: 300;
        overflow-y: auto;
    }
    body.height , html.height {
        height:100vh;
    }
    .mobile-links-wrapper ul {
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%,-50%);
        -o-transform: translate(-50%,-50%);
        transform: translate(-50%,-50%);
        -moz-transform: translate(-50%,-50%);
        -ms-transform: translate(-50%,-50%);
        list-style: none;
        text-transform: uppercase;    
        font-size: 24px;
        margin: 0px;
        padding: 0px;
    }
    .mobile-links-wrapper ul li {
        text-align:center;
        margin-top: 25px;
        margin-bottom: 25px;
    }
    .mobile-links-wrapper ul li a {
        text-decoration: none !important;
        color: #000000;
        transition: all 0.3s ease-in-out;
        position: relative;
        display: block;
    }
    .mobile-links-wrapper ul li a:hover {
        transition: all 0.3s ease-in-out;
        color:#52AE60;
    }
    .header-line-dec {
        margin-right: 1200px;
    }
    .header-bottom {
        width: 100%;
        padding: 30px;
    }
    .header-bottom .container {
        width:100%;
    }
    .header-bottom h1 {
        font-size: 50px;
    }
    .header-bottom h3 {
        font-size: 22px;
    }
    .scheme-inner .col-xs-12 {
        padding:0px;
    }
    .scheme-inner .container {
        width:100%;
    }
    #about-wrapper .container {
        padding-left:15px;
        padding-right:15px;
    }
    .sol-wrapper-title hr {
        width: 250px;
    }
    .members-outer .col-lg-3 {
        padding-left: 15px;
        padding-right: 15px;
    }
    .mem-img-wrapper {
        height: 240px;
    }
    #customers-wrapper img {
        max-width: 100%;
        width: 250px;
        margin: 0px auto;
    }
    #customers-wrapper h1 {
        margin-bottom: 10px;
    }
    .members-outer.owl-carousel .owl-nav .owl-next, .members-outer.owl-carousel .owl-nav .owl-prev {
        margin-top: 5px;
    }
    #team-wrapper .container { 
        max-width:600px;
        min-width:400px;
    }
    .cookies-wrapper a {
        margin-right:15px;
    }
    .sol-wrapper p {
        font-size: 16px;
    }
    .sol-wrapper .learn-info {
        margin-top: 10px;
    }
    #about-wrapper .container {
        width: 95%;
    }
    #about-wrapper p {
        font-size:18px;
    }
    #team-wrapper.teamwrapper .member-wrapper .person-name {
        font-size: 17px;
        margin-top:10px;
    }
    #team-wrapper.teamwrapper .member-wrapper .person-description {
        font-size: 14px;
    }
    #team-wrapper.teamwrapper .member-wrapper {
        padding-bottom:10px;
    }
}

@media (max-width: 900px) {
    .cookies-wrapper {
        bottom: -250px;
    }
    .own-pd {
        width: 33.33333333%;
    }
}

@media (max-width: 767px) {

    .solutions-item-hover h3 {
        font-size: 20px;
        line-height: 28px;
    }

    .single-vacancies .vacancies-container .vacancies-block {
        padding-bottom: 60px;
    }

    .vacancies-container .vacancies-block h2.single-vac-h {
        margin-top: 30px;
    }

    .vacancies-container .vacancies-block {
        padding:35px;
    }
    .vacancies-block h1 {
        font-size:36px;
        line-height: 45px;
    }

    .header-bottom h1 {
        font-size: 45px;
        line-height: 55px;
    }
    .header-bottom h3 {
        font-size: 20px;
        line-height:30px;
    }
    .header-line-dec {
        margin-right: 1140px;
    }
    #about-wrapper p {
        font-size: 18px;
    }
    h1 {
        font-size: 42px;
    }
    h2 {
        font-size: 26px;
    }
    .solutions-item {
        max-width: 500px;
        margin: 0px auto;
    }
    .sol-wrapper-title hr {
        width: 80%;
    }
    #team-wrapper .container {
         max-width:600px;
        min-width:400px;
    }
    .address-wrapper {
        margin-top: 15px;
        margin-bottom: 30px;
        text-align: center;
    }
    .contacts-inner {
        padding-left: 0px;
        padding-right: 0px;
    }
    footer .header-line-dec {
        margin-right: 1500px;
    }
    .additional-container {
        width: 100%;
    }
    .additional-container .sol-wrapper.sol-info {
        padding-top: 60px;
        padding-bottom: 60px;
    }
    .cookies-wrapper .vertical-align {
        display: block;
    }
    .btn-wrapper {
        margin-top:15px;
    }
    .cookies-wrapper .container .col-lg-8:first-child {
        border-right:none;
        text-align: center;
        padding:0px;
    }
    .cookies-wrapper p {
        font-size: 15px;
    }
    .cookies-wrapper button , .cookies-wrapper a span, .cookies-wrapper p {
        font-size: 15px;
    }

}

@media (max-width: 700px) {
    #customers-wrapper .col-lg-2 {
        height: 100px;
    }
    .cookies-wrapper button, .cookies-wrapper a span, .cookies-wrapper p {
        font-size: 13px;
    }
    #customers-wrapper {
        padding-top: 60px;
        padding-bottom: 40px;
    }
    #customers-wrapper h1 {
        margin-bottom: 20px;
    }
    .owl-carousel .owl-nav .owl-next {
        right: -40px;
    }
    .owl-carousel .owl-nav .owl-prev {
        left: -40px;
    }
    #about-wrapper .member-wrapper {
        float: none;
        margin: 0px auto;
        margin-bottom: 20px;
    }
    #about-wrapper .container {
        width:85%;
    }
    #team-wrapper.teamwrapper .container {
        padding: 0px;
    }

}

@media (max-width: 600px) {
    .own-pd {
        width: 50%;
    }
   .header-line-dec {
        margin-right: 1090px;
    }
    .members-outer .col-xs-3 {
        padding-left: 5px;
        padding-right: 5px;
    }
    footer .container .col-xs-6 {
        font-size: 15px;
    }
    .col-member-display-l {
        display:none;
    }
    .members-outer .col-lg-3 {
        width:100%;
    }
    #team-wrapper .container {
        max-width: 350px;
        min-width: 300px;
    }
    #about-wrapper .member-wrapper {
        display:none;
    }
}
/*
@media (max-height: 600px) {

   #call-modal.main-subscribe-modal {
        top: 50px;
        transform: translate(-50%, 0%);
        -moz-transform: translate(-50%, 0%);
        -o-transform: translate(-50%, 0%);
        -ms-transform: translate(-50%, 0%);
        -webkit-transform: translate(-50%, 0%);
    }

}*/


@media (max-width: 540px) {
    #customers-wrapper .col-lg-2 {
        height: 80px;
    }
    input[type='submit'].wpcf7-submit , .cf7-smart-grid.has-grid input[type='submit'].wpcf7-submit {
        font-size:18px;
    }
    .vacancies-block ul {
        font-size: 16px;
    }
    footer .fa {
        margin-left: 2px;
        margin-right: 2px;
    }
}
@media (max-width: 480px) {

    .scheme-img {
        display: none;
    }  
    .cookies-wrapper {
        bottom: -300px;
    }
    .header-line img {
        width: 200px;
    }
    .header-line-dec {
        margin-right: 1050px;
    }
    .header-line.fixed {
        background: linear-gradient(to right,#ffffff ,#142a2f 125%);
    }
    .header-bottom h1 , h1 {
        font-size: 40px;
        line-height: 47px;
    }
    .header-bottom h3 {
        font-size: 18px;
        line-height: 28px;
    }
    .sol-wrapper .learn-info {
        font-size: 16px;
    }
    .img-wrap .fa {
        font-size: 70px;
    }
    .sol-wrapper p {
        margin-top:0px;
    }
    .sol-wrapper {
        min-height: 300px;
    }
    .members-outer .col-xs-3 {
        padding-left: 15%;
        padding-right: 15%;
    }
    .mem-img-wrapper {
        height: 240px;
    }
    .members-outer {
        padding-top: 25px;
        padding-bottom: 10px;
    }
    .members-outer.owl-carousel .owl-nav .owl-next {
        right: 0px;
        margin-top: -8px;
    }
    .members-outer.owl-carousel .owl-nav .owl-prev {
        left: 0px;
        margin-top: -8px;
    }
    #customers-wrapper .col-lg-2 {
        width: 90%;
        margin: 0 auto;
        float: none;
        height: 120px;
    }
    input {
        font-size: 17px;
        padding: 7px;
    }
    button, .cf7-smart-grid.has-grid input[type='submit'].wpcf7-submit {
        font-size: 18px;
    }
    footer .container .col-xs-6 {
        padding:0px;
    }
    .fa {
        font-size: 35px;
        margin-left: 3px;
        margin-right: 3px;
    }
    footer .header-line-dec {
        top: -570px;
        margin-right: 1410px;
    }
    #blog-wrapper h1 {
        font-size:36px;
    }
    .date-wrapper {
         margin-bottom: 10px;
    }
    .news-container .col-xs-12 {
        padding:0px;
    }
    h2 {
        font-size: 22px;
        line-height: 28px;
    }
    .words-wrapper a {
        padding: 5px;
        margin-right: 5px;
        font-size: 15px;
        padding-top: 10px;
    }
    .news-container p {
        font-size: 16px;
        line-height: 23px;
    }
    .vacancies-container .date-wrapper {
        font-size:16px;
        min-width: 200px;
        text-align: center;
    }
    .date-wrapper {
        font-size:16px;
    }
    .vacancies-container .vacancies-block h2 , .tags-wrapper a.tags-h h2  {
        font-size: 22px;
        line-height: 28px;
    }
    .vacancies-container .vacancies-block p {
        font-size: 16px;
        line-height: 23px;
    }
    #vacancies-wrapper {
        padding-top: 70px;
    }
    .vacancies-container .vacancies-block {
        padding: 20px;
        padding-top: 30px;
    }
    .vacancies-block ul {
        font-size: 15px;
    }
    .words-wrapper {
        margin-top: 15px;
        margin-bottom: 0px;
    }
    .single-vacancies .vacancies-container .vacancies-block {
        padding-bottom: 40px;
    }
    h3 {
        font-size: 20px;
    }
    .recruiter-contacts ul {
        padding:0px;
    }
    #blog-wrapper {
        padding-left: 10px;
        padding-right: 10px;
    }
    #vacancies-wrapper {
        padding-bottom:15px;
    }
    .solutions-item-hover {
        padding-left:15px;
        padding-right:15px;
    }
    .news-container h2 {
        font-size:22px;
    }
    .recruiter-contacts .no-padding {
        width:100%;
        text-align:center !important;
    }
    .recruiter-contacts ul {
        float: left;
        width: 100%;
    }
    .single-vacancies .vacancies-container .vacancies-block {
        padding-bottom: 75px;
    }
    input[type='submit'].wpcf7-submit, .cf7-smart-grid.has-grid input[type='submit'].wpcf7-submit {
        min-width: 200px;
        float: right;
    }
    .solutions-item-hover p {
        padding-left:20px;
        padding-right:20px;
        font-size: 15px;
    }
    .solutions-item-hover .sol-wrapper p {
        max-height: 105px;
    }
    .solutions-item-hover h3 {
        font-size: 17px;
    }
    .team-btn {
        margin-top: 20px;
    }
    #customers-wrapper h1 {
        margin-bottom: 30px;
    }
    .owl-carousel .owl-nav .owl-next {
        right: -20px;
    }
    .owl-carousel .owl-nav .owl-prev {
        left: -20px;
    }
    #customers-wrapper .container {
        width: 100%;
    }
    #about-wrapper .container {
        width: 97%;
    }

    .cookies h1 {
        font-size: 30px;
        line-height: 35px;
        margin-top: 25px;
    }
    .cookies p {
        font-size: 16px;
    }
    #vacancies-wrapper .panel-heading a {
        font-size:16px;
    }
    #vacancies-wrapper .panel-heading .fa {
        font-size: 18px;
        margin-left: 2px;
        margin-right: 2px;
    }
    #vacancies-wrapper .container {
        padding-left:5px;
        padding-right:5px;
    }
    .panel-body ul li {
        font-size: 14px;
    }

}
@media (max-width: 450px) {
    input[type='submit'].wpcf7-submit , .cf7-smart-grid.has-grid input[type='submit'].wpcf7-submit {
        font-size:16px;
        font-weight: 400;
    }
    .own-pd {
        padding:0px;
    }
    #team-wrapper.teamwrapper .container {
        padding: 0px;
    }
    #team-wrapper.teamwrapper .member-wrapper {
        margin-bottom: 0px;
    }
    #team-wrapper.teamwrapper .member-wrapper .person-name {
        font-size: 13px;
    }
    #team-wrapper.teamwrapper .member-wrapper .person-description {
        font-size: 13px;
    }
    #call-modal {
        min-width:300px;
        max-width: 300px;
        padding:20px;
    }
    #call-modal input , #call-modal label, #call-modal p {
        font-size: 15px;
    }
    #call-modal p {
        font-size:13px;
    }
    #call-modal button {
        width: 100px;
        font-size: 17px;
    }
    ._form-title {
        font-size: 25px;
    }
}
@media (max-width: 400px) {

    input[type='submit'].wpcf7-submit , .cf7-smart-grid.has-grid input[type='submit'].wpcf7-submit {
        font-size:19px;
        font-weight:600;
    }
    .header-line img {
        width: 186px;
    }
    .header-line {
        height: 60px;
    }
    .header-bottom {
        width: 100%;
        padding: 10px;
    }
    .header-bottom h1, h1 {
        font-size: 34px;
        line-height: 43px;
    }
    h2 {
        font-size: 24px;
        line-height: 32px;
    }
    #about-wrapper p {
        font-size: 17px;
    }
    .header-bottom h3 {
        font-size: 17px;
        line-height: 28px;
    }
    .solutions-item-hover {
        padding:10px;
    }
    .solutions-item-hover h3 {
        font-size: 15px;
        line-height: 24px;
    }
    .solutions-item-hover .sol-wrapper {
        padding-top: 25px;
    }
    #team-wrapper .container {
        max-width: 100%;
        min-width: 100%;
    }
    .members-outer .col-xs-3 {
        padding-left: 0px;
        padding-right: 0px;
    }
    .members-outer.owl-carousel .owl-nav .owl-next {
        right: -30px;
    }
    .members-outer.owl-carousel .owl-nav .owl-prev {
        left: -30px;
    }
    form .col-xs-6 {
        width:100%;
    }
    input {
        font-size: 19px;
        padding: 7px;
    }
    footer .container .col-xs-6 {
        width: 100%;
        margin-top: 5px;
    }
    .icons-wrapper {
        text-align: center;
    }
    footer .vertical-align {
        display:block;
        text-align:center;
    }
    footer .header-line-dec {
        margin-right: 1000px;
        right: 0px;
        top: -620px;
    }
    footer .fa {
        color:#D7D7D7;
    }
    footer .fa:hover {
        color:#ffffff;
    }
    footer {
        height:auto;
        padding-top: 15px;
        padding-bottom: 15px;
    }
    .mobile-links-wrapper ul li {
        margin-top: 15px;
        margin-bottom: 15px;
        font-size: 20px;
    }
    .vacancies-container .container {
        padding-left: 0px !important;
        padding-right: 0px !important;
    }
    .cookies-wrapper a {
        margin-right: 10px;
    }
    #customers-wrapper h1 {
        font-size: 32px;
    }
    footer .container .col-xs-6 {
        font-size: 17px;
    }
    #vacancies-wrapper .panel-heading .fa {
        display:none;
    }
    #vacancies-wrapper .panel-heading a::after {
        right:10px;
    }

}
@media (max-width: 360px) {
    .header-bottom h3 {
        font-size: 16px;
        line-height: 27px;
    }
    .header-bottom h1, h1 {
        font-size: 30px;
        line-height: 41px;
    }
    .solutions-item-hover h3 {
        font-size: 14px;
        line-height: 21px;
    }
    .solutions-item-hover p {
        font-size: 14px;
    }
    #customers-wrapper h1 {
        font-size: 32px;
        padding: 0px;
        margin-bottom: 10px;
    }
    .owl-carousel .owl-nav .owl-next {
        right: -25px;
    }
    .owl-carousel .owl-nav .owl-prev {
        left: -25px;
    }
    #team-wrapper.teamwrapper .member-wrapper .person-description {
        font-size: 10px;
    }
    #vacancies-wrapper .panel-heading a {
        font-size: 15px;
    }
}

@media (max-height: 450px) {
    .mobile-links-wrapper ul {
        position: absolute;
        top: 260px;
    }
    #call-modal {
        top: 50px;
        transform: translate(-50%, 0%);
        -moz-transform: translate(-50%, 0%);
        -o-transform: translate(-50%, 0%);
        -ms-transform: translate(-50%, 0%);
        -webkit-transform: translate(-50%, 0%);
        overflow: hidden;
        min-width: 400px;
        margin-bottom:30px;
        margin-top:30px;
    }
}
@media (max-height: 600px) {
    .header-bottom {
        top: 300px;
    }
    header {
        min-height: 600px;
    }
}


