header {
	background-image:none; 
	height:auto!important;
}
#vacancies-wrapper {
	background: linear-gradient(to bottom,#C1C1C1,#ffffff);
	position: relative;
	padding-top:110px;
	padding-bottom:100px;
}
.vacancies-container {
	margin-top:25px;
}
.vacancies-container .vacancies-block {
	-webkit-box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.3);
    -o-box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.3);
    -ms-box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.3);
    box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.3);
    padding:30px;
    margin-top:30px;
    border-right:3px solid #52AE60;
    background: linear-gradient(to top,#C1C1C1,#ffffff);
}
.vacancies-container .vacancies-block h2 {
	text-transform: uppercase;
	color:#326a77;
	font-weight: 400;
	/*border-bottom:2px solid #326a77;*/
	width:auto;
	padding-bottom:5px;
	cursor:pointer;
	transition: all 0.3s ease-in-out;
	margin-top: 0px;
}
.vacancies-container .vacancies-block h2:hover {
	transition: all 0.3s ease-in-out;
	color:#52AE60;
}
.vacancies-container .vacancies-block h2 span {
    color: #52AE60;
}
.vacancies-container .vacancies-block p {
    font-weight:500;
    font-size:18px;
    color:#326a77;
}
.words-wrapper {
	margin-top:20px;
}
.words-wrapper span {
	padding:10px;
	background:#52AE60;
	color:#ffffff;
	margin-right:10px;
	font-size:18px;
	text-transform:uppercase;
	font-weight:500;
}
a {
	color:#52AE60;
	text-decoration: none !important;
	transition: all 0.3s ease-in-out;
}
a:hover {
	color:#326a77;
	transition: all 0.3s ease-in-out;
}

.vacancies-container .container div.col-xs-6 {
	animation-duration: 2s;
}
 .vacancies-container .container {
   width:1000px !important;
}